@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(/desafios/d010/pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #38DF88;
    --cor1: #2BAB69;
    --cor2: #185E3A;
    --cor3: #345E48;
    --cor4: #7DE3AF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-droid: 'Android', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
}

nav {
    background-color: #185E3A;
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.486);
}

nav > a {
    color: var(--cor0);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor2);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding: 10px 20px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor2);
    font-family: var(--fonte-droid);
    font-weight: normal;
    font-size: 1.5em;
}

main h2 {
    font-family: var(--fonte-droid);
    font-weight: normal;
    font-size: 1.3em;
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 3em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor2);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor2);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    max-width: 300px;
    margin: auto;
}

div.video {
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
    border: var(--cor3) solid 1px;
}

aside > h3 {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}

footer {
    color: white;
    background-color: var(--cor3);
    text-align: center;
    font-size: .8em;
    margin-top: 50px;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

